@using Microsoft.Extensions.Options
@using Plurby.Web.Areas
@using Plurby.Web.Infrastructure
@using System.Reflection
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";
    var version = Assembly.GetAssembly(typeof(Startup)).GetName().Version;

    var identitaCorrente = (IdentitaViewModel)ViewData[IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];
}
@section metas{
    @RenderSection("metas", false)
}
@section styles{
    @RenderSection("styles", false)
}
<div id="pageId">
    <div class="sticky-top" id="onit-page-sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    @if (identitaCorrente != null)
                    {
                        if (!string.IsNullOrEmpty(identitaCorrente.FirstName) && !string.IsNullOrEmpty(identitaCorrente.LastName))
                        {
                            <span>Welcome, @identitaCorrente.FirstName @identitaCorrente.LastName!</span>
                        }
                        else
                        {
                            <span>Welcome, @(identitaCorrente.EmailUtenteCorrente.Split('@')[0])!</span>
                        }
                    }
                    else
                    {
                        <span>Plurby</span>
                    }
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse flex-wrap" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        @if (identitaCorrente != null)
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @identitaCorrente.EmailUtenteCorrente
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" role="menu">
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="javascript: document.getElementById('POST_LogOut').submit()" title="@SharedLocalizer["Chiudi sessione di lavoro"]">
                                        <i class="fa-solid fa-right-from-bracket"></i>&nbsp;@SharedLocalizer["Esci"]
                                    </a>
                                    <form autocomplete="off" method="post" action="@Url.Action(MVC.Login.Logout())" id="POST_LogOut" display="none"></form>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        @RenderSection("pageTitle", false)
    </div>
    @RenderSection("pageSubtitle", false)
    @RenderBody()
</div>

@section scripts{
    <script type="text/javascript">
        @this.RenderAlertsWithToastify()
    </script>

    @RenderSection("scripts", false)
}